<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Snake Game | LWC OSS</title>
    <link rel="icon" type="image/x-icon" href="$assetsDir/favicon.ico" />
    <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css" />
    <style>
      html {
        background: #000;
      }

      @media only screen and (min-width: 768px) {
        html {
          background-position-x: 45%;
          background-position-y: 36%;
          background-image: url('assets/mobile-phone.svg');
          background-repeat: no-repeat;
          background-size: 85%;
        }
      }
    </style>
  </head>
  <body>
    {{{body}}} {{{lwr_resources}}}
  </body>
</html>
